/* Created   by https://github.com/rxyhn 
   Designed  by https://github.com/rxyhn#
   Maintaned by https://github.com/rxyhn
*/

// Global
* {
  all: unset;
}

// Variable Color's
// $background: rgba(0, 0, 0, 0);
$background: @base@;
$foreground: @text@;

$black: @mantle@;
$gray: @surface0@;
$lighter-gray: @overlay1@;
$purple: @mauve@;
$red: @red@;
$green: @green@;
$yellow: @yellow@;
$blue: @blue@;
$magenta: @pink@;
$teal: @teal@;
$white: $foreground;

// EWW BAR
.eww_bar {
  background-color: $background;
  padding: .4rem;
  margin: 10px;
  margin-right: 0px;
  border-radius: 8px;
  border: 2px solid $gray;
}

// Tool tips
tooltip {
  border-radius: 4px;
  background-color: $background;
  border: 1px solid $teal;
}


// Launcher
.launcher_icon {
  color: $teal;
  font-family: "Font Awesome 6 Free";
  font-size: 1.7em;
  padding: 1rem 0 1rem 0;
}

// Workspaces
// .works {
//   font-family: "Font Awesome 6 Free";
//   padding: .2rem .7rem .2rem .7rem;
//   background-color: $black;
//   border-radius: 5px;
// }

// .0,
// .01,
// .02,
// .03,
// .04,
// .05,
// .06,
// .011,
// .022,
// .033,
// .044,
// .055,
// .066 {
//   margin: .55rem 0 .55rem 0;
// }

// /* Unoccupied */
// .0 {
//   color: $gray;
// }
// 
// /* Occupied */
// .01,
// .02,
// .03,
// .04,
// .05,
// .06 {
//   color: $gray;
// }
// 
// /* Focused */
// .011,
// .022,
// .033,
// .044,
// .055,
// .066 {
//   color: $foreground;
// }
// 
// .0:nth-child(1),
// .0:nth-child(3) {
//   font-size: 1.5em;
// }
// 
// .0:nth-child(2) {
//   font-size: 1.4em;
// }
// 
// .0:nth-child(4),
// .0:nth-child(5) {
//   font-size: 1.6em;
// }
// 
// .0:nth-child(6) {
//   font-size: 1.7em;
// }
// 
// .01,
// .011,
// .03,
// .033 {
//   font-size: 1.5em;
// }
// 
// .02,
// .022 {
//   font-size: 1.4em;
// }
// 
// .04,
// .05,
// .044,
// .055 {
//   font-size: 1.6em;
// }
// 
// .06,
// .066 {
//   font-size: 1.7em;
// }

// Control Panel
.control {
  padding: 5px;
  font-family: Material Icons;
  font-size: 1.6em;
  background-color: $black;
  border-radius: 5px;
}

.bat {
  font-family: Bitstream Vera Sans Mono;
  margin: .0rem .2rem .2rem 0;
  color: $blue;
}

.wifi-icon {
  margin-bottom: .2rem;
  color: $magenta;
}

.brightness-icon {
  margin: .2rem 0 .2rem 0;
  color: $yellow;
}

.volume-icon {
  margin: .2rem 0 .2rem 0;
  color: $green;
}

scale trough {
  all: unset;
  background-color: $background;
  border-radius: 5px;
  min-height: 80px;
  min-width: 10px;
  margin: .3rem 0 .3rem 0;
}

.bribar trough highlight {
  background-color: $yellow;
  border-radius: 5px;
}

.volbar trough highlight {
  background-color: $green;
  border-radius: 5px;
}

// Clock
.time {
  font-family: Comic Mono;
  font-weight: bold;
  font-size: 1.1em;
  background-color: $black;
  color: $white;
  border-radius: 5px;
  padding: .7rem 0 .5rem 0;
  margin: .5rem 0 .5rem 0;
}

// // Calendar
// .cal-box {
//   background-color: $black;
//   font-family: Comic Mono;
//   font-size: 1em;
//   font-weight: bold;
// 
//   .cal-inner-box {
//     padding: 1rem 1rem .2rem;
// 
//     .cal {
//       &.highlight {
//         padding: 10rem;
//       }
// 
//       padding: .8rem .25rem 0rem;
//       margin-left: 10px;
//     }
//   }
// }
// 
// calendar:selected {
//   color: $blue;
// }
// 
// calendar.header {
//   color: $blue;
//   font-weight: bold;
// }
// 
// calendar.button {
//   color: $magenta;
// }
// 
// calendar.highlight {
//   color: $magenta;
//   font-weight: bold;
// }
// 
// calendar:indeterminate {
//   color: $background;
// }

// Powermenu
.powermenu {
  font-family: Linearicons\-Free;
  font-size: 1.4em;
  font-weight: bold;
}

.button-bspres,
.button-reb,
.button-lock,
.button-quit,
.button-off {
  padding: .5rem .2rem .3rem .2rem;
}

.button-off {
  margin-bottom: .5rem;
  color: $red;
}

.button-bspres {
  color: $green;
}

.button-reb {
  color: $yellow
}

.button-quit {
  color: $magenta;
}

.button-lock {
  color: $blue;
}
